body{ font-family: 'Roboto', Arial, Tahoma, sans-serif; background-color: #e9e9e9; }

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 13px; }

.card { color: #555; background-color: #fff; min-height: 50px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); border-radius: 2px; }
.card .header { padding: 20px; border-bottom: 1px solid rgba(204, 204, 204, 0.35); }
.card .header h2 { font-size: 18px; margin: 0; padding: 0; }
.card .header small { font-size: 12px; color: #999; line-height: 15px; }
.card .body { padding: 20px; font-size: 14px; min-height: 300px; }
.card .footer { padding: 20px; border-top: 1px solid rgba(204, 204, 204, 0.35); }
.card-title { color: #666; font-size: 16px; margin: 25px 0 15px 0; }

.navbar { min-height: 70px; border-radius: 0; margin-bottom: 40px; }
.navbar-default .navbar-toggle { margin-top: 15px; } 
.navbar-collapse, .navbar-default .navbar-brand { margin-top: 10px; }

.navbar-default .navbar-toggle .icon-bar { background-color: #fff; }
.navbar-default { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); border: none; background-color: #3F51B5; color: #fff; }
.override .navbar-default a, .navbar-brand { color: #fff !important; }
.navbar-default a:focus, .navbar-default a:hover { color: #ddd !important; }

.list-group { box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover { background-color: #3F51B5; border-color: #3F51B5; }
.list-group-item { border: 0; font-size: 15px; padding: 20px 15px; color: #A3A3A3; }

.form-control { border-radius: 0; border-color: #ddd; }

.pagination { margin: 0; display: block; }